:root {
	color-scheme: light dark;
}

@media (prefers-color-scheme: light) {
	:root {

		--text: #000;
		--link-default: #000080;
		--link-hover: #0093FA;
		--link-visited: #000080;

		--title: #BBB;
		--title-border: #AAA;

		--header: #CCC;
		--header-border: #BBB;
		--header-selected: #D6DAF0;

		--footer: #555;
		--footer-border: #E7E7E7;

		--block: #D6DAF0;
		--block-border: #B7C5D9;
		--block-hover: #BEC4E6;

		--nav-hover: #0093FA;
		--nav-text-hover: #FFF;

		--greentext: #156f00;
		--tag-count: #A0A0A0;
		--username: #255d40;

		--input-button: #FFF;
		--input-button-border: #B7C5D9;

		--zebra-border: #000;
		--zebra-header: #98E;
		--zebra-odd: #EEF2FF;
		--zebra-even: #D6DAF0;
		--zebra-hover: #FFF;

		--yotsuba-b-background: #EEF2FF;
		--yotsuba-b-background-gradient: #D1D5EE;
	}
}

@media (prefers-color-scheme: dark) {
	:root {

		--text: #ACACAC;
		--link-default: #6C96B9;
		--link-visited: #EAF;

		--title: #333;
		--title-border: #555;

		--header: #444;
		--header-border: #373B41;
		--header-selected: #282A2E;

		--footer: #555;
		--footer-border: #E7E7E7;

		--block: #282A2E;
		--block-border: #373B41;
		--block-hover: #3D3F45;

		--nav-hover: #0093FA;
		--nav-text-hover: #FFF;

		--greentext: #819B3E;
		--tag-count: #555;
		--username: #6C96B9;

		--input-button: #373B41;
		--input-button-border: #555;

		--zebra-border: #373B41;
		--zebra-header: #202124;
		--zebra-odd: #282A2E;
		--zebra-even: #3D3F45;
		--zebra-hover: #000;

		--yotsuba-b-background: #1D1F21;
		--yotsuba-b-background-gradient: #1D1F21;
	}
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
*                  things common to all pages                    *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
:root {
	font-size: 90%;
	font-family: helvetica,sans-serif;
}
HTML {
	min-height: 100vh;
}
BODY {
	background: linear-gradient(var(--yotsuba-b-background-gradient),var(--yotsuba-b-background) 200px,var(--yotsuba-b-background));
	color: var(--text);
	margin: 1em 2em;
}
BODY.layout-grid {
	display: grid;
	grid-template-columns: 250px 1fr;
	grid-gap: 10px;
}
BODY.layout-no-left NAV {
	display: none;
}
BODY.layout-no-left ARTICLE {
	margin-left: 10px;
}
HEADER {
	grid-column: 1 / 3;
	grid-row: 1;
}
HEADER H1 {
	margin: unset;
	padding: unset;
}
H1 A:hover, H2 A:hover {
	color: red;
}
H1 A:visited, H2 A:visited {
	color: red;
}
H1 {
	font-size: 100%;
}
H2, H3 {
	font-size: 1.17em;
}
SECTION>.blockbody, .comment, .setupblock {

}
SECTION>.blockbody, SECTION>H2, SECTION>H3, FOOTER, .comment, .setupblock {
	margin: 1em;
}
THEAD {
	font-weight: bold;
}
TD {
	vertical-align: top;
}

TABLE.zebra {border-spacing: 0; border: 1px solid var(--zebra-border);}
TABLE.zebra TD, TABLE.zebra TH {vertical-align: middle; padding: 4px;}
TABLE.zebra THEAD TD, TABLE.zebra THEAD TH {border-bottom: 1px solid var(--zebra-border);}
TABLE.zebra TFOOT TD, TABLE.zebra TFOOT TH {border-top: 1px solid var(--zebra-border);}
TABLE.zebra TR TH {background: var(--zebra-header); text-align: left;}
TABLE.zebra TR TH A:hover {color: var(--zebra-hover);}
TABLE.zebra TR:nth-child(odd) {background: var(--zebra-odd);}
TABLE.zebra TR:nth-child(even) {background: var(--zebra-even);}
TABLE.form.zebra {width: unset;}

FOOTER {
	clear: both;
	border-top: solid 1px var(--footer-border);
	margin-top: 1rem;
	text-align: center;
	color: var(--footer);
	font-size: .8rem;
	grid-column: 1 / 3;
	grid-row: 3;
}
FOOTER > DIV {
	margin: 1rem 2rem;
}
A {
	text-decoration: none;
	color: var(--link-default);
}
A:hover {
	text-decoration: none;
	color: var(--link-hover);
}
CODE {
	background: #DEDEDE;
	font-size: 0.9rem;
}
UL {
	text-align: left;
}
INPUT {
	height: 2em;
	margin: .2em 0;
}
INPUT[type=button], INPUT[type=submit] {
	background: var(--input-button);
	border: 1px solid var(--input-button-border);
}

/* Danbooru2 theme imports (modified) */
}
HEADER #site-title {
	margin: 0;
}
HEADER #site-title IMG {
	vertical-align: middle;
	margin-right: .5rem;
}
HEADER UL#navbar {
	margin: 0;
	padding: 0 30px 0 30px;
}
HEADER UL#navbar LI {
	margin: 5px;
}
HEADER UL#navbar LI A {
	display: inline-block;
	margin: 0 .15rem;
	padding: .4rem .6rem;
}
HEADER UL#navbar LI:first-child A {
	margin-left: -.6rem;
	color: var(--link-first);
	font-weight: bold;
}
HEADER UL#navbar LI A.current-page {
	background-color: var(--header-selected);
	font-weight:bold;
}
HEADER UL#subnavbar {
	margin: 1rem 0 .5rem;
	padding: 0 30px 0 30px;
	background-color: var(--header-selected);
}
HEADER UL#subnavbar LI {
	display: inline-block;
	margin: 0 .15rem;
	padding: .4rem .6rem;
}
HEADER UL#subnavbar LI:first-child {
	margin-left: -.6rem;
}
HEADER UL#subnavbar A {
	background-color: unset;
	border: unset;
}
UL.flat-list {
	display: block;
	margin: 0;
	padding: 0;
}
UL.flat-list * {
	display: inline;
	text-align: left;
	text-transform: uppercase;
}
UL.flat-list LI {
	margin: 0 1.3em 0 0;
	list-style-type: none;
	text-align: left;
	font-weight: bold;
}
UL.flat-list LI A {
	font-weight: 400;
	background: var(--yotsuba-b-background);
	border: 1px solid var(--block-border);
	padding: .15em;
}
UL.flat-list LI A:hover {
	background: var(--nav-hover);
	color: var(--nav-text-hover);
	font-weight: 700;
}
#site-title {
	height: 28px;
	margin: 1em 0;
}
#site-title:hover {
	filter: saturate(2);
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
*             the navigation bar, and all its blocks             *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

NAV {
	border: 1px solid var(--block-border);
	height: fit-content;
	max-width: 250px;
	grid-column: 1;
	grid-row: 2;
}
NAV .blockbody {
	overflow: hidden;
}
NAV TABLE {
	width: 100%;
}
NAV INPUT {
	width: 100%;
}
NAV SELECT {
	width: 100%;
}

TABLE.tag_list {
	border-collapse: collapse;
}
TABLE.tag_list>THEAD {
	display: none;
}
TABLE.tag_list>TBODY>TR>TD {
	display: inline;
	padding: 0;
}
TABLE.tag_list>TBODY>TR>TD:after {
	content: " ";
}
.more {
	margin: 1em;
}
.more:after {
	content: " >>>";
}
.tag_count {
	color: var(--tag-count);
}
#paginator {
	display: block;
	clear: both;
	margin: 0 3px;
	padding: .4em;
	text-align: center;
	font-weight: bold;
	font-size: 1em;
}
#paginator a {
	margin: 0 3px;
	padding: .4em;
	border: 1px solid var(--block-border);
	background: var(--block);
}
#paginator a:hover {
	background: var(--nav-hover);
	color: var(--nav-text-hover);
	font-weight: 700;
}
.comment_list {
	border-left: none !important;
}
.comment[id^="c"] {
	background: var(--block);
	margin: 0.6em;
	padding: .7em 1em;
	width: fit-content;
}
[href*="user/"], .username {
	color: var(--username) !important;
	font-weight: 700 !important;
}
[href$="user/lefty"]::after {
	content: " ## Admin";
	color: #cd0000 !important;
	font-weight: 400;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
*                 the main part of each page                     *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

ARTICLE {
	grid-column: 2;
	grid-row: 2;
}

ARTICLE /*TABLE*/ {
	/* width: 90%; */
	/*margin: auto;*/
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
*                     specific page types                        *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

#short-wiki-description > .blockbody {
	padding-bottom: 15px;
}
#short-wiki-description h2 {
	margin: 0 0 .4em;
}

#pagelist {
	margin-top: 32px;
}
#front-page {
	grid-column: 1 / 3;
}
#image-list {
	margin-top: -5px;
}
.thumb {
	border: 1px solid var(--block-border);
	background: var(--block);
	margin: 5px;
	height: 180px;
	width: 180px;
	
	display: inline-flex;
	flex-direction:column;
	align-items: center;
	justify-content: center;
}
#image-list H2 {
	display: none;
}
#Imagemain H2 {
	display: none;
}
#Imagemain .blockbody {
	margin: 0 .5em;
}
.setupblock {
	border: var(--block-border) 1px solid;
	padding: 1em;
}
.greentext {
	color: var(--greentext);
}
.comment-trim-link {
	color: unset;
}
.comment-trim-link:hover {
	color: unset;
}
.comment-trim-link .comment[id^="c"] {
	width: unset;
}
.comment-trim-link div:hover {
	background-color: var(--block-hover);
}
.bbcode BLOCKQUOTE {
	background: none;
	border: 1px solid var(--block);
	padding: 0.5em;
	margin: 2em 0 0 0;
}
/* example of how to apply specific styles to specific thumbs for specific userclasses */
/*
BODY[data-userclass="anonymous"] .thumb[data-rating="e"] IMG {
	filter: blur(5px);
}
*/


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
*                       mobile screens                           *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

@media screen and (width <= 800px) {
	BODY.layout-grid {
		grid-template-columns: auto;
		margin: 0;
	}
	HEADER {
		grid-column: 1;
		grid-row: 1;
	}
	ARTICLE {
		grid-column: 1;
		grid-row: 2;
	}
	NAV {
		grid-column: 1;
		grid-row: 3;
		margin: auto;
		width: auto;
	}
	FOOTER {
		grid-column: 1;
		grid-row: 4;
	}
	.blockbody {
		margin: 0;
	}
	.shm-image-list {
		grid-template-columns: repeat( auto-fill, calc(var(--thumb-width) + 24px) );
		justify-content: center;
	}
	.thumb {
		margin: 5px;
		height: 160px;
		width: 160px;
	}
}
