#logo {margin-bottom: 1em; max-width: 80%; height:auto;}
div#front-page {text-align:center;}
div#front-page .space {margin: 0.5em 0;}
div#front-page div#links a {display: inline-block; margin: 0 0.5em; font-size: larger; font-weight: 800;}
div#front-page li {list-style-type: none; margin: 0;}
@media (max-width: 800px) {
	div#front-page h1 {font-size: 3rem; margin-top: 0.5em; margin-bottom: 0.5em;}
}
div#front-page > #search > form {margin: 0 auto;}
div#front-page > #search > form > input[type=submit]{padding: 4px 6px;}
#counter {display: grid; justify-content: center; margin: auto;}
.counter-img {grid-row: 1; max-width: 100%; height: auto;}